@using TakasApp.Models
@model CustomOfferModel

    @{
        ViewBag.Title = "Offer";
    }

    <h2>Teklif Edebileceginiz Ürünler</h2>

    <body>
        <ul>
            @foreach (var product in Model.ProductList)
            {
                <li>@product.ProductTitle</li>
                <li>@product.ProductCity</li>
                <li>@product.ProductAddDate</li>
                <li>@product.ProductUser</li>
                <li>@product.ProductPhotoURLS</li>
                <li>@product.ProductDescription</li>
                <strong>Fiyat: @product.ProductPrice ₺</strong>
                 
                <a href="@Url.Action("MakeOffer","Offer", new {givenid=product.ProductID, user=Model.ProductUser,takenid=Model.ProductID})">Ürününü Teklif Et</a>
            }
        </ul>

    </body>
