@using TakasApp.Models
@model List<TableProduct>
@{
    ViewBag.Title = "ListMyProducts";
}

<h2>My Products</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ürün Başlıgı</th>
            <th>Ürün Tahmini Fiyatı</th>
            <th>Ürünün Bulundugu Şehir</th>
            <th>Ürünün Açıklaması</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>  <a href="@Url.Action("GetProduct","Product",new {productId=product.ProductID})">@product.ProductTitle</a></td>
                <td>@product.ProductPrice</td>
                <td>@product.ProductCity</td>
                <td>@product.ProductDescription</td>              
            </tr>
        }
    </tbody>
</table>