@model TakasApp.Models.TableUser

@{
    ViewBag.Title = "Kayıt Ol";
}

<h2>Kayıt Ol</h2>

@using (Html.BeginForm("UserAdd", "User", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserEmail)
        @Html.TextBoxFor(m => m.UserEmail, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserEmail, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserPassword)
        @Html.PasswordFor(m => m.UserPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserPassword, "", new { @class = "text-danger" })
    </div>

    <div>
        <input type="submit" value="Kayıt Ol" class="btn btn-primary" />
    </div>

    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <p style="color: green;">@ViewBag.Message</p>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}